.Viewer{
    height: inherit;
    background-color: #000;
    display: inline-flex;
    flex: 10 10 2px;
}

.cols{
    flex: 10 10 1px;
    display: inline-block;
    height: 100%;
}

.viewers {
    height: 50%;
    width: 100%;
}

#viewer1 {
    background-color:#888;
}

#viewer4 {
    background-color:#888;
}
