.tool-bar{
    height: 5vh;
    width: 100%;
}

.tool-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    border: none;
    width: 100%;
}

.tool-bar li {
    float: left;
}

.tool-bar li:nth-last-child(-n+2) {
    float: right;
    font-weight: 800;
}

.tool-bar li a {
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    text-decoration: none;
}

.tool-bar li a:hover:not(.active) {
    background-color: #111;
}
